<div class="well well-sm"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Die hier aufgeführten Benuzter haben Zugriff auf den Administrationsbereich des Servers. Ein Benutzer, der mit dem Symbol <span class="glyphicon glyphicon-king" aria-hidden="true" title="Administrator mit Superrechten."></span> ausgezeichnet ist, besitzt zudem Superrechte. Er kann andere Benutzer bearbeiten und ihre Zugriffsdaten einsehen.</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Eingabe</div>
    <div class="panel-body">
        <form role="form" name="myForm">
            <div class="form-group" data-ng-class="{'has-error': myForm.email.$valid==0, 'has-success':myForm.email.$valid==1}">
                <label><abbr title="Die E-Mail Adresse dient zum Anmelden im Adminportal des Infoscreens und dem Empfang wichtiger Meldungen.">E-Mail</abbr></label> <span class="label label-default">{{newUser.email.length}} Zeichen</span> <span class="text-success" data-ng-show="emailExists==false">Diese Emailadresse ist noch nicht belegt.</span> <span class="text-danger" data-ng-show="emailExists==true">Diese Emailadresse existiert bereits.</span>
                <div class="input-group">
                    <input type="email" name="email" placeholder="" class="form-control" data-ng-model="newUser.email" data-ng-blur="checkEmail()" required />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="checkEmail()">&nbsp;<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;</button>
                    </span>
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error': myForm.name.$valid==0, 'has-success':myForm.name.$valid==1}">
                <label><abbr title="Die E-Mail Adresse dient zum Anmelden im Adminportal des Infoscreens und dem Empfang wichtiger Meldungen.">Vorname</abbr></label> <span class="label label-default">{{newUser.firstname.length}} Zeichen</span>
                <input type="text" name="name" placeholder="" data-ng-model="newUser.firstname" class="form-control" required />
            </div>
            <div class="form-group" data-ng-class="{'has-error': myForm.firstname.$valid==0, 'has-success':myForm.firstname.$valid==1}">
                <label><abbr title="Die E-Mail Adresse dient zum Anmelden im Adminportal des Infoscreens und dem Empfang wichtiger Meldungen.">Name</abbr></label> <span class="label label-default">{{newUser.name.length}} Zeichen</span>
                <input type="text" name="firstname" placeholder="" data-ng-model="newUser.name" class="form-control" required />
            </div>
            <div class="form-group" data-ng-class="{'has-error': myForm.password.$valid==0, 'has-success':myForm.password.$valid==1}">
                <label><abbr title="Das Passwort dient zum Anmelden im Adminportal des Infoscreen.">Passwort</abbr></label>
                <span class="label label-danger" data-ng-show="passwordStrength=='week'">schwach</span>
                <span class="label label-warning" data-ng-show="passwordStrength=='medium'">mittel</span>
                <span class="label label-success" data-ng-show="passwordStrength=='strong'">stark</span>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="addUpper" data-ng-click="generatePassword()">
                        Großbuchstaben
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="addNumbers" data-ng-click="generatePassword()">
                        Ziffern
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="addSymbols" data-ng-click="generatePassword()">
                        Sonderzeichen
                    </label>
                </div>
                <div>
                    Passwortlänge <span class="label label-default">{{passwordLength}} Zeichen</span>
                    <input type="range" min="8" max="50" step="1" value="12" data-ng-model="passwordLength" data-ng-click="generatePassword()">
                </div>
                <div class="input-group">
                    <input type="text" name="password" placeholder="Neues Passwort eingeben" class="form-control" data-ng-model="newUser.password"  data-ng-readonly="true"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="generatePassword()">generiere</button>
                    </span>
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error': myForm.role.$valid==0, 'has-success': myForm.role.$valid==1}">
                <label><abbr title="Die Auswahl definiert die Rolle die dem Benutzer zugeordnet wird.">Rollen</abbr></label>
                <div class="well">
                    <label ng-repeat="role in rolelist track by $index">
                      <input type="checkbox" checklist-model="newUser.roles" checklist-value="role" > {{role.name}} </input>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="btn-group">
            <button class="btn btn-default" type="button" data-ng-click="update()" data-ng-disabled="!myForm.$valid">aktualisieren</button>
        </div>
    </div>
</div>

